<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  @for (r of arrRecipe; track $index; let i = $index) {
    <div class="col">
      <div class="card h-100 shadow-sm border-0 text-center rounded-4"
           style="background-color: #f8d3dc;">
        <div class="ratio ratio-4x3">
          <img [src]="r.image ? '/images/' + r.image : '/images/mic.JPG'" 
               class="card-img-top object-fit-cover rounded-top"
               alt="Recipe image"
               style="height: 100%; object-fit: cover;">
        </div>
        <div class="card-body">
          <h5 class="card-title text-dark">
            <i class="bi bi-egg-fried me-2" style="color:#d36b8b;"></i> {{ r.recipyName }}
          </h5>
          <p class="card-text">
            <i class="bi bi-bar-chart-line me-2"
               [ngClass]="{
                 'text-success': r.level === 'קל',
                 'text-warning': r.level === 'בינוני',
                 'text-danger': r.level === 'קשה'
               }">
            </i>
            {{ r.level }}
          </p>
          <a class="btn text-white" style="background-color:#d36b8b;" (click)="moreDetails(r._id)">
            <i class="bi bi-info-circle me-1"></i> More details
          </a>
        </div>
      </div>
    </div>
  }
</div>
